src/conf/xml-resources/web-services/GameWS/wsdl/BlackJackWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://blackjack.ws/" name="BlackJackWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://blackjack.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://blackjack.ws/" schemaLocation="BlackJackWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getEvents">
    <part name="parameters" element="tns:getEvents"/>
  </message>
  <message name="getEventsResponse">
    <part name="parameters" element="tns:getEventsResponse"/>
  </message>
  <message name="InvalidParameters">
    <part name="fault" element="tns:InvalidParameters"/>
  </message>
  <message name="createGameFromXML">
    <part name="parameters" element="tns:createGameFromXML"/>
  </message>
  <message name="createGameFromXMLResponse">
    <part name="parameters" element="tns:createGameFromXMLResponse"/>
  </message>
  <message name="DuplicateGameName">
    <part name="fault" element="tns:DuplicateGameName"/>
  </message>
  <message name="InvalidXML">
    <part name="fault" element="tns:InvalidXML"/>
  </message>
  <message name="getGameDetails">
    <part name="parameters" element="tns:getGameDetails"/>
  </message>
  <message name="getGameDetailsResponse">
    <part name="parameters" element="tns:getGameDetailsResponse"/>
  </message>
  <message name="GameDoesNotExists">
    <part name="fault" element="tns:GameDoesNotExists"/>
  </message>
  <message name="getWaitingGames">
    <part name="parameters" element="tns:getWaitingGames"/>
  </message>
  <message name="getWaitingGamesResponse">
    <part name="parameters" element="tns:getWaitingGamesResponse"/>
  </message>
  <message name="getActiveGames">
    <part name="parameters" element="tns:getActiveGames"/>
  </message>
  <message name="getActiveGamesResponse">
    <part name="parameters" element="tns:getActiveGamesResponse"/>
  </message>
  <message name="getPlayersDetails">
    <part name="parameters" element="tns:getPlayersDetails"/>
  </message>
  <message name="getPlayersDetailsResponse">
    <part name="parameters" element="tns:getPlayersDetailsResponse"/>
  </message>
  <message name="getPlayerDetails">
    <part name="parameters" element="tns:getPlayerDetails"/>
  </message>
  <message name="getPlayerDetailsResponse">
    <part name="parameters" element="tns:getPlayerDetailsResponse"/>
  </message>
  <message name="createGame">
    <part name="parameters" element="tns:createGame"/>
  </message>
  <message name="createGameResponse">
    <part name="parameters" element="tns:createGameResponse"/>
  </message>
  <message name="joinGame">
    <part name="parameters" element="tns:joinGame"/>
  </message>
  <message name="joinGameResponse">
    <part name="parameters" element="tns:joinGameResponse"/>
  </message>
  <message name="playerAction">
    <part name="parameters" element="tns:playerAction"/>
  </message>
  <message name="playerActionResponse">
    <part name="parameters" element="tns:playerActionResponse"/>
  </message>
  <message name="resign">
    <part name="parameters" element="tns:resign"/>
  </message>
  <message name="resignResponse">
    <part name="parameters" element="tns:resignResponse"/>
  </message>
  <portType name="BlackJackWebService">
    <operation name="getEvents">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/getEventsRequest" message="tns:getEvents"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/getEventsResponse" message="tns:getEventsResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/getEvents/Fault/InvalidParameters"/>
    </operation>
    <operation name="createGameFromXML">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/createGameFromXMLRequest" message="tns:createGameFromXML"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/createGameFromXMLResponse" message="tns:createGameFromXMLResponse"/>
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://blackjack.ws/BlackJackWebService/createGameFromXML/Fault/DuplicateGameName"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/createGameFromXML/Fault/InvalidParameters"/>
      <fault message="tns:InvalidXML" name="InvalidXML" wsam:Action="http://blackjack.ws/BlackJackWebService/createGameFromXML/Fault/InvalidXML"/>
    </operation>
    <operation name="getGameDetails">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/getGameDetailsRequest" message="tns:getGameDetails"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/getGameDetailsResponse" message="tns:getGameDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://blackjack.ws/BlackJackWebService/getGameDetails/Fault/GameDoesNotExists"/>
    </operation>
    <operation name="getWaitingGames">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/getWaitingGamesRequest" message="tns:getWaitingGames"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/getWaitingGamesResponse" message="tns:getWaitingGamesResponse"/>
    </operation>
    <operation name="getActiveGames">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/getActiveGamesRequest" message="tns:getActiveGames"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/getActiveGamesResponse" message="tns:getActiveGamesResponse"/>
    </operation>
    <operation name="getPlayersDetails">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayersDetailsRequest" message="tns:getPlayersDetails"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayersDetailsResponse" message="tns:getPlayersDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayersDetails/Fault/GameDoesNotExists"/>
    </operation>
    <operation name="getPlayerDetails">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayerDetailsRequest" message="tns:getPlayerDetails"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayerDetailsResponse" message="tns:getPlayerDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayerDetails/Fault/GameDoesNotExists"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/getPlayerDetails/Fault/InvalidParameters"/>
    </operation>
    <operation name="createGame">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/createGameRequest" message="tns:createGame"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/createGameResponse" message="tns:createGameResponse"/>
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://blackjack.ws/BlackJackWebService/createGame/Fault/DuplicateGameName"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/createGame/Fault/InvalidParameters"/>
    </operation>
    <operation name="joinGame">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/joinGameRequest" message="tns:joinGame"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/joinGameResponse" message="tns:joinGameResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://blackjack.ws/BlackJackWebService/joinGame/Fault/GameDoesNotExists"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/joinGame/Fault/InvalidParameters"/>
    </operation>
    <operation name="playerAction">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/playerActionRequest" message="tns:playerAction"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/playerActionResponse" message="tns:playerActionResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/playerAction/Fault/InvalidParameters"/>
    </operation>
    <operation name="resign">
      <input wsam:Action="http://blackjack.ws/BlackJackWebService/resignRequest" message="tns:resign"/>
      <output wsam:Action="http://blackjack.ws/BlackJackWebService/resignResponse" message="tns:resignResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://blackjack.ws/BlackJackWebService/resign/Fault/InvalidParameters"/>
    </operation>
  </portType>
  <binding name="BlackJackWebServicePortBinding" type="tns:BlackJackWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="createGameFromXML">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
      <fault name="InvalidXML">
        <soap:fault name="InvalidXML" use="literal"/>
      </fault>
    </operation>
    <operation name="getGameDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
    </operation>
    <operation name="getWaitingGames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getActiveGames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPlayersDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
    </operation>
    <operation name="getPlayerDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="createGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="joinGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="playerAction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="resign">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BlackJackWebService">
    <port name="BlackJackWebServicePort" binding="tns:BlackJackWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

